/* CSS HEX */
:root {
	--maximum-purple: #643a71ff;
	--amethyst: #8b5fbfff;
	--french-mauve: #d183c9ff;
	--shimmering-blush: #e3879eff;
	--pink: #fec0ceff;
}

/* General */
body {
	background-color: var(--shimmering-blush)
}

main {
	margin: 0 20px;
	padding: 10px;
	background-color: var(--pink);
}

header {
	padding: 0.5em;
}

input {
	margin: 0.5em 0;
}

a {
	color: var(--maximum-purple);
}

/* Images */
img {
	width: 50%;
	margin: auto;

	border: hidden;
	border-radius: 5px;
}

.credit a, .credit a:visited {
	color: var(--maximum-purple);
}

.credit a:hover, .credit a:visited:hover {
	color: var(--french-mauve);
}

/* Comments */
.comment {
	border: 1px solid var(--maximum-purple);
	border-radius: 10px;
	
	margin: 0.5em 0;
	padding: 0.25em;
}

/* Buttons */
.buttons * {
	display: inline;
	margin: 0.5em;
}

/* Navbar */
nav {
	background-color: var(--maximum-purple);
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
}

nav li {
	display: inline;
	margin-right: 25px;
}

nav a {
	color: white;
	font-size: 1.5em;
}

nav a:hover {
	color: pink;
	text-decoration: none;
}