body {
	background-color: floralwhite;
}

main {
	margin: 0 20px;
	padding: 10px;
	background-color: white;
}

header {
	padding: 0.5em;
}

img {
	width: 50%;
	margin: auto;

	border: hidden;
	border-radius: 5px;
}

.credit {
	color: gray;
}

.credit a {
	color: lightskyblue;
}

/* Navbar */
nav {
	background-color: cornflowerblue;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
}

nav li {
	display: inline;
	margin-right: 25px;
}

nav a {
	color: white;
	font-size: 1.5em;
}

nav a:hover {
	color: pink;
	text-decoration: none;
}